.Caja
{

}

.CajaRegistrados
{
	width: ;
	height: auto;
	display: flex;
	justify-items: center;
	flex-direction: column;
	border-radius: 10px;
	background-color: seagreen;
}

.CajaInicio 
{
	text-align: center;
}
