.Caja
{
	width: auto;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 30px;
}

.Caja ul
{
	margin:20px;
	display: flex;
	flex-direction: row;
}

.CajaPrincipal
{
	display: flex;
	justify-content: center;
	justify-items: center;
}

li
{
	margin: 30px;
	list-style: none;
}

a
{
	text-decoration: none;
}