.CajaPrincipal
{
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
}

.Caja
{
	width: auto;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0.2);
}

.Caja ul
{
	margin:20px;
	display: flex;
	flex-direction: row;
}

.CajaConte
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
  border-radius: 20px;
}

.CajaUsuarios
{
  	width: 250px;
  	height: auto;
  	margin: 15px;
  	padding: 5px;
  	border-radius: 20%;
}

.CajaUsuarios ul
{
	display: flex;
	flex-direction: column;
}

li
{
	margin: 30px;
	list-style: none;
	display: flex;
	flex-direction: row;
}

a
{
	text-decoration: none;
}

h2
{
	font-size: 50px;
	text-align: center;
}

div
{
	display: flex;
	justify-content: center;
}