<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
	<title>Login</title>
</head>
<body>
	<div class="CajaPrincipal">
		<h2>Login</h2>
		 <form action="/logueado" method="POST">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required><br>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>
        <button type="submit">Ingresar</button>
    </form>
    </form>
	</div>
</body>
</html>